body {
	font-family: 'Catamaran', 'Microsoft YaHei', sans-serif;
	background: #333
		/*url(http://om107w423.bkt.clouddn.com/patrick-tomasso-71909.jpg)*/
		url('file:///android_asset/images/index.jpg')
		no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

header .overlay {
	background-color: #fff;
	opacity: 0.7;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 70px;
	border-bottom: 1px solid #111;
}

/*===========================
=============NAVBAR==========
============================*/
.my-navbar {
	border: 0 none;
	background-color: transparent;
}

@media only screen and (max-width: 767px) and (min-width: 250px) {
	.navbar-default .navbar-collapse {
		background-color: #fff;
		opacity: 0.7;
	}
}

.my-navbar .navbar-brand {
	color: #000 !important;
	font-size: 28px;
	margin-top: 19px;
	font-weight: 600;
	padding: 20px 0 0;
	line-height: 0;
}

.my-navbar .navbar-toggle {
	margin-top: 19px;
	border: none;
}

.my-navbar .navbar-toggle:hover, .my-navbar .navbar-toggle:focus {
	background: transparent;
}

.my-navbar .navbar-toggle .icon-bar {
	background-color: #000;
}

.my-navbar-menu {
	margin-top: 15px;
}

.my-navbar .my-navbar-menu>li>a {
	color: #000 !important;
	font-size: 14px;
	font-weight: 550;
	letter-spacing: 1.5px;
	text-align: center;
}

.my-navbar .my-navbar-menu>li>a:hover, .my-navbar .my-navbar-menu>li>a:focus
	{
	/*color: #ff8 !important;*/
	color: #1ecfd6 !important;
	transition-duration: .3s;
}

/*==========================================
===================MAIN SECTION============
==========================================*/
#about-me-section {
	position: relative;
	padding-top: 160px;
	padding-bottom: 275px;
}

#about-me-section .overlay, #contact-section .overlay {
	background-color: #111;
	opacity: 0.3;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
}

.my-text>h1 {
	font-size: 30px;
	letter-spacing: -1px;
	font-weight: 800;
	color: #fff;
}

#portfolio-section {
	background-color: #fff;
}

#portfolio-section hr {
	width: 200px;
}

.portfolio-title {
	text-align: center;
	padding-top: 40px;
}

.portfolio-content {
	padding: 40px 0 40px;
}

.portfolio-content .my-port {
	padding-bottom: 30px;
}

.icon {
	background: #18f;
	/*background: #339933;*/
	width: 80px;
	height: 80px;
	display: table;
	margin: 0 auto 25px;
	border-radius: 50%;
}

.icon .my-fa {
	font-size: 40px;
	line-height: 80px;
	color: #fff;
}

.panel {
    margin-bottom: -20px;
}

#contact-section {
	position: relative;
	padding: 40px 0;
	margin-bottom: 50px;
}

#contact-section h3 {
	color: #fff;
}

#other-details-section,
#edu-exps-section,
#work-exps-section {
	position: relative;
	margin-top: -50px;
	padding-top: 70px;
}

#work-exps-section {
	position: relative;
	margin-bottom: 50px;
	padding-bottom: 110px;
}


/*====================================
==============FOOTER==================
====================================*/
.fixed-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color: #fff;
	padding: 0 70px;
	line-height: 50px;
	/*border-top: 1px solid #f3f3f3;*/
}

.fixed-footer-right {
	text-align: right;
}

.fixed-footer-left ul li:first-child span {
	position: relative;
	padding-right: 7px;
	display: inline-block;
}

.fixed-footer-right ul li:last-child {
	padding-right: 50px;
}

.fixed-footer-right ul li, .fixed-footer-left ul li {
	color: #333;
	font-size: 16px;
	padding: 0 10px;
	display: inline-block;
}

.fixed-footer-right ul li a {
	color: #333;
}

/*====================================
==============BUTTON==================
====================================*/
.my-btn {
	line-height: 40px;
	font-size: 18px;
	border-radius: 3px;
	letter-spacing: 1px;
	color: #fff;
	background-color: transparent;
	border: 1px solid #fff;
	transition: all .15s ease-in-out;
	-webkit-transition: all .15s ease-in-out;
}

.my-block {
	padding-top: 10px;
}

.my-btn:hover, .my-btn:active, .my-btn:focus {
	color: #ff8;
}


/*====================================
==============MODAL==================
====================================*/

#myModal-1 .modal-form {
	padding-left: 20px;
	padding-right: 60px;
}

#myModal-1 .modal-btn {
	
}