html {
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	font-family: "Microsoft YaHei", sans-serif;
}

.overlay {
	background-color: #111;
	opacity: 0.4;
	/* position: absolute; */
	position: fixed;
	-webkit-transform: translateZ(0);
	top: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
}

.wrapper {
	position: fixed;
	-webkit-transform: translateZ(0);
	width: 100%;
	height: 100%;
	text-align: center;
	background: #333 url('file:///android_asset/images/5.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@media ( min-width : 768px) {
	.wrapper {
		position: absolute;
		width: 100%;
		height: 100%;
		text-align: center;
		background: #333 url('file:///android_asset/images/5.jpg') no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		-webkit-transform-style: preserve-3d;
		/*opacity: 1.0;*/
	}
}

.content-container {
	position: relative;
	margin: auto;
	padding: 16px;
	top: 50%;
	-webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
	max-width: 350px;
	
}

#login-form fieldset,
#signup-form filelset {
	padding: 0;
    margin: 0;
    border: none;
}

#login-form fieldset > legend,
#signup-form fieldset > legend {
    color: #fff;
    width: 50%;
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: 1px;
    border-bottom: 1px solid #fff;
}

#login-form fieldset > ol, 
#signup-form fieldset > ol {
	padding: 0;
    margin: 0;
}

#login-form fieldset > ol > li,
#signup-form fieldset > ol > li {
	list-style: none;
    margin-bottom: 20px;
}

#login-form .form-group,
#signup-form .form-group {
    width: 100%;
    margin-bottom: 20px;
}

#login-form .form-group .input-icon, 
#signup-form .form-group .input-icon {
	color: #59acff;
    font-size: 16px;
    background-color: transparent;
    white-space: nowrap;   
    border: none;
    padding: 15px 10px;
    left: 25px;
    position: absolute;
}

#msg {
	color: red;
    font-weight: 300;
    font-size: 16px;
}

#login-form input[type=text],
#login-form input[type=password],
#signup-form input[type=text],
#signup-form input[type=password] {
    color: #4e5056;
    background-color: #fff;
    width: 100%;
    height: 52px;
    border: none;
    padding: 15px 20px 15px 45px;
    font-weight: 300;
    font-size: 16px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;  
}

#signup-form select {
    background-color: #fff;
    width: 100%;
    height: 52px;
    border: none;
    font-weight: 300;
    font-size: 16px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

.my-btn-log,
.my-btn-sign {
	padding: 10px 30px;
	font-weight: 300;
    font-size: 1.15em;
	letter-spacing: 1px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	-webkit-transition: all .15s ease-in-out;
	transition: all .15s ease-in-out;
}

.my-btn-log {
	width: 100%;
}

.my-btn-sign {
	width: 50%;
}

.my-btn-full {
	color: #18f;
	background-color: #ff8;
	border: 1px solid #fff;
}

.my-btn-full:hover, 
.my-btn-full:active, 
.my-btn-full:focus {
	color: #ff8;
	font-weight: 400;
	background-color: rgba(0, 0, 0, 0);
}

.login-choice-info:before {
	content: ' ';
    display: block;
    height: 1px;
    width: 50%;
    background: #fff;
    margin: 60px auto 40px;
}

.signup-choice-info:before {
	content: ' ';
    display: block;
    height: 1px;
    width: 50%;
    background: #fff;
    margin: 40px auto 40px;
}

.signup-choice-info,
.login-choice-info {
	color: #fff;
    margin-bottom: 2em;
    line-height: 1.0;
}

.signup-choice-info p,
.login-choice-info p {
	display: inline-block;
    margin-bottom: 1em;
    font-weight: normal;
    font-size: 18px;
}

.signup-choice-info p > a,
.login-choice-info p > a {
	color: #ff8;
	text-decoration: underline;
}


